body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.tree-node {
    list-style-type: none;
    padding: 5px 0 5px 20px;
}

.tree-node:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.hidden {
    display: none;
}

.tree-node-toggle {
    cursor: pointer;
    user-select: none; /* Предотвращаем выделение текста при двойном клике */
}

.tree-node-toggle::before {
    content: '▶'; /* Символ для свернутого состояния */
    color: black;
    display: inline-block;
    margin-right: 15px;
    
}

.tree-node-toggle.expanded::before {
    content: '▼'; /* Символ для раскрытого состояния */
}